.cart-container{
    margin: 10px;
    height: 600px;
    background-color: rgba(61, 79, 139, 0.383); 
    margin-top: 85px;
    border: 2px solid gray;
    text-align: left;
    padding: 10px;
    
}
body{
    background-color: rgba(106, 109, 112, 0.582);
}