.singers-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.column {
    background-color: rgba(206, 156, 195, 0.527);
    box-shadow: 0px 0px 8px 0px;
    /* margin-bottom: 15px; */
    margin: 15px;
    border-radius: 10px;
    float: left;
    width: 30%;
    height: 28%;
  }